*{
margin: 0;
padding: 0;
box-sizing: border-box;
/* font-family: "Open-Sans", sans-serif; */
font-family: "Open Sans", serif;
/* background-color: #f2f2f2; */
}

.head  {
  /* color: aqua; */
  background-color: #f2f2f2;
}

.nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 15px 100px;
}

.item-nav a {
  text-decoration: none;
  margin-right: 15px;
  color:  rgb(60, 59, 59);
}


.btns {
  display: flex;
  gap: 10px;
  text-align: center;
}

.btns .btn {
  width: 90px;
  height: 40px;
  border-radius: 20px;
}

.btns .btn2 p {
  background-color: rgb(39, 76, 39);
  color: white;
  border: none;
  font-size: 15px;
}

.btn p  {
  padding: 10px;
  border: 1px solid rgba(0, 0, 0, 0.388);
  /* background-color: aqua; */
  border-radius: 20px;
  font-size: 15px;
  color:  rgb(60, 59, 59);
}



  /*          section 1         */
.sec1 {
  padding: 20px 100px;
  background-color: #f2f2f2;

}

.jud-sec1 {
  display: flex;
  justify-content: space-between;
  gap: 20px;
  width: 100%;
  height: 260px;
  /* position: relative; */
}

.jud-sec1 h1 {
  font-size: 150px;
  color: rgb(60, 59, 59);
  padding-top: 70px;
  letter-spacing: -15px;
  /* font-stretch: condensed; */
}

.jud-sec1 p {
  padding-top: 155px;
  line-height: 25px;
  text-align: right;
  color:  rgb(60, 59, 59);
  width: 500px;
}

.sec1 .img-contain img {
 width: 100%;
 height: auto;
 border-radius: 20px;
 margin-top: 10px;

}

.sec1 .img-contain {
  position: relative;
  padding-bottom: 40px;
  /* display: inline-block; */
}

/* .sec1 .herosec1 {
  width: 100%;
  height: 100vh;
  border-radius: 20px;
  background-image: url(img/g1.jpg);
  background-size: cover;
  background-position: center;
  margin-top: 100px;
} */

.sec1 .img-contain .corner-btn {
  position: absolute; /* Untuk memposisikan tombol di dalam container */
  top: 10px; /* Jarak dari atas */
  left: 0; /* Jarak dari kanan */
  padding: 15px 30px; /* Ukuran tombol */
  /* background-color: #1a3e3e; Warna latar tombol */
  background-color: rgb(39, 76, 39);
  color: white; /* Warna teks tombol */
  border: none; /* Menghilangkan border tombol */
  border-radius: 30px; /* Membuat tombol bersudut melengkung */
  cursor: pointer; /* Menampilkan pointer saat hover */
  font-size: 14px; /* Ukuran teks tombol */
  transition: background-color 0.3s ease; /* Efek transisi saat hover */
  z-index: 999;
}

.sec1 .img-contain .corner-btn i {
  margin-left: 10px;
}

.sec1 .luar-btn {
  width: 200px;
  height: 65px;
  background-color: #f2f2f2;
  /* border: 2px solid rgb(93, 93, 93); */
  border-radius:0 0 5px 0;
  position: absolute  ;
  top: 10px;
  left: 0;
}



/*        section 2          */
.sec2 {
  padding: 20px 100px;
  background-color: rgb(181, 189, 181);
  color: rgb(60, 59, 59);

}


.sec2 .desc2 {
  display: flex;
  justify-content: space-between;
  height: 400px;
  margin-bottom: 50px;
  /* background-color: rgb(151, 179, 151); */
}

.sec2 .desc2 .description-text {
  /* background-color: rgb(151, 179, 151); */
  padding-top: 50px;
  width: 700px;
  /* color:  rgb(38, 38, 38); */
  
}

.sec2 .desc2 .description-text .judul-desc {
  font-size: 56px;
  font-weight: 400;
  line-height: 60px;
  margin-top: 20px;
  font-weight: bold;
  
}

.sec2 .desc2 .description-text p {
  margin-top: 20px;
  line-height: 25px;
}


.sec2 img {
  border-radius: 20px;
  margin-top: 30px;
}

.sec2 .tables-info {
  display: flex;
  padding-bottom: 40px;
}

.sec2 .tables-info .table {
  width: 100%;
  height: 250px;
  border: 1px solid black;
  padding: 40px 15px;
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.sec2 .tables-info .table .jud-table {
  font-weight: bold;
  font-size: 20px;
}


.sec2 .tables-info .table .link span {
  display: block;
  width: 120px;
  height: 1px;
  background-color: black;

}

.sec2 .tables-info .table .link a {
  font-weight: bold;
}


/*      section 3      */
.sec3 {
  background-color: #f2f2f2;
  padding: 20px 100px;
}

.judul-sell {
  padding-top: 50px;
  padding-bottom: 10px;
  display: flex;
  justify-content: space-between;
  color: rgb(60, 59, 59);
}

.sec3 .judul-sell .left-item {
  width: 40%;
  height: auto;
}

.sec3 .judul-sell .left-item p {
  letter-spacing: -2px;

}

.sec3 .judul-sell .right-item {
  width: 40%;
  height: auto;
  text-align: right;
  padding-top: 20px;

}


.sec3 .judul-sell .left-item p {
  font-size: 50px;
  font-weight: bolder;
  /* color: rgb(60, 59, 59); */
}


.sec3 .judul-sell .right-item p {
  line-height: 30px;
  /* color: rgb(60, 59, 59); */
}

.sec3 .judul-sell .right-item button {
  padding: 10px 15px;
  border-radius: 20px;
   background-color: rgb(39, 76, 39);
   color: white;
   border: none;
   margin-top: 20px;
}

.sec3 .judul-sell .right-item button i {
  margin-left: 10px;
}


.sec3 .img-sell {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  align-items: center;
  padding-bottom: 50px;
}

.sec3 .img-sell img {
  width: 400px;
  /* height: 200px; */
  background-size: ;
  border-radius: 10px;
  margin-top: 40px;
}

.sec3 .img-sell .img-property {
  /* width: 50%; */
}

.sec3 .img-sell .desc-pro {
  display: flex;
  justify-content: space-between;
  align-items: center;
} 


.sec3 .img-sell .desc-pro .layer-text {
  color: rgb(60, 59, 59);
}

.sec3 .img-sell .desc-pro .layer-text p {
  font-size: 15px;
}


.sec3 .img-sell .desc-pro .layer-btn button {
  padding: 7px 17px;
  border-radius: 20px;
  cursor: pointer;
}




/*      section 4     */
.sec4 {
  padding: 20px 100px;
  background-color: rgb(169, 180, 169);
  color: rgb(60, 59, 59);
 }


 
.judul-sell {
  padding-top: 50px;
  padding-bottom: 50px;
  display: flex;
  justify-content: space-between;
  color: rgb(60, 59, 59);
}

.sec4 .judul-sell .left-item {
  width: 40%;
  height: auto;
}

.sec4 .judul-sell .left-item p {
  letter-spacing: -2px;

}

.sec4 .judul-sell .right-item {
  width: 40%;
  height: auto;
  text-align: right;
  padding-top: 20px;
  /* display: flex; */
  /* flex-direction: column; */
  /* gap: 20px; */
}


.sec4 .judul-sell .left-item p {
  font-size: 50px;
  font-weight: bolder;
  /* color: rgb(60, 59, 59); */
}


.sec4 .judul-sell .right-item p {
  line-height: 30px;
  /* color: rgb(60, 59, 59); */
}

.sec4 .judul-sell .right-item button {
  padding: 10px 15px;
  border-radius: 20px;
   background-color: rgb(39, 76, 39);
   color: white;
   border: none;
   margin-top: 20px;
}

.sec4 .judul-sell .right-item button i {
  margin-left: 10px;
}


.sec4 .desc-layanan {
  display: flex;
  justify-content: space-between;
  gap: 20px;
  /* flex-wrap: wrap; */

}

.sec4 .desc-layanan img {
  border-radius: 10px;
  /* width: 500px; */
  height: 620px;
}

.sec4 .tables-lay {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  padding-bottom: 40px;
}


.sec4 .table-layanan {
  width: 388px;
  height: 300px;
  border-radius: 5px;
  background-color: #f0ebeb;
  /* border: 1px solid black;  */
  padding: 45px 10px;
  
}

.sec4 .table-layanan .judul-lay {
  font-size: 28px;
  font-weight: bold;
  letter-spacing: -1px;
  margin-bottom: 20px;
}

.sec4 .table-layanan button {
  padding: 9px 23px;
  border-radius: 20px;
  background-color: rgb(39, 76, 39);
  color: white;
  border: none;
  margin-top: 20px;
}